@use '../../config/tokens/variables' as t;

// @component column
// @element div

@layer primitives {
  .column {
    @include t.token(space-2, space-2);
    @include t.token(space-1, space-1);
    @include t.token(space-4, space-4);
    @include t.token(space-6, space-6);
    @include t.token(space-8, space-8);
    display: flex;
    flex-direction: column;
    gap: var(--column-gap, var(--_space-2));
  }

  // @modifier size
  .column--xs { --column-gap: var(--_space-1); }
  .column--sm { --column-gap: var(--_space-2); }
  .column--md { --column-gap: var(--_space-4); }
  .column--lg { --column-gap: var(--_space-6); }
  .column--xl { --column-gap: var(--_space-8); }
}
