@use '../../config/tokens/variables' as t;

// @component column
// @element div

@layer primitives {
  .column {
    @include t.token(space-2, space-2);
    @include t.token(space-1, space-1);
    @include t.token(space-4, space-4);
    @include t.token(space-6, space-6);
    @include t.token(space-8, space-8);
    display: flex;
    flex-direction: column;
    gap: var(--column-gap, var(--_space-2));
  }

  $size-gaps: (
    xs: var(--_space-1),
    sm: var(--_space-2),
    md: var(--_space-4),
    lg: var(--_space-6),
    xl: var(--_space-8),
  );

  // @modifier size xs, sm, md, lg, xl
  @each $name, $gap in $size-gaps {
    .column--#{$name} { --column-gap: #{$gap}; }
  }
}
