@use '../../../config/tokens/variables' as t;
// @component mark
// @element mark

@layer components.tokens {
  .mark {
    // @desc Background color
    @include t.token(bg, color-warning, mark);
    // @desc Text color
    @include t.token(color, color-text, mark);
    // @desc Horizontal padding
    @include t.token(padding-x, space-quarter, mark);
    // @desc Vertical padding
    --_padding-y: var(--ui-mark-padding-y, 0); // token-lint-ignore
    // @desc Corner radius
    @include t.token(radius, radius-sm, mark);
  }
}

@layer components.styles {
  .mark {
    padding: var(--_padding-y) var(--_padding-x);

    color: var(--_color);

    background: var(--_bg);
    border-radius: var(--_radius);
  }
}
