@use '../../../config/tokens/variables' as t;

// @component spinner
// @element div

@layer components.tokens {
  .spinner {
    // @desc Overall size
    @include t.token(size, space-4, spinner);
    // @desc Border thickness
    @include t.token(border-width, border-width-md, spinner);
    // @desc Text color
    --_color: var(--ui-spinner-color, currentcolor); // token-lint-ignore
    // @desc Track text color
    --_track-color: var(--ui-spinner-track-color, transparent); // token-lint-ignore
    // @desc Animation duration
    --_duration: var(--ui-spinner-duration, #{t.$spinner-duration}); // token-lint-ignore
  }

  // @modifier size
  .spinner--xs {
    // @desc Overall size at extra-small size
    @include t.token(size, space-2, spinner, size-xs);
    // @desc Border thickness at extra-small size
    @include t.token(border-width, border-width-sm, spinner, border-width-xs);
  }

  .spinner--sm {
    // @desc Overall size at small size
    @include t.token(size, space-3, spinner, size-sm);
    // @desc Border thickness at small size
    @include t.token(border-width, border-width-md, spinner, border-width-sm);
  }

  .spinner--lg {
    // @desc Overall size at large size
    @include t.token(size, space-5, spinner, size-lg);
    // @desc Border thickness at large size
    @include t.token(border-width, border-width-md, spinner, border-width-lg);
  }

  .spinner--xl {
    // @desc Overall size at extra-large size
    @include t.token(size, space-6, spinner, size-xl);
    // @desc Border thickness at extra-large size
    @include t.token(border-width, border-width-lg, spinner, border-width-xl);
  }
}

@layer components.styles {
  .spinner {
    display: inline-block;
    flex-shrink: 0;

    box-sizing: border-box;
    block-size: var(--_size);
    inline-size: var(--_size);

    vertical-align: middle;

    border: var(--_border-width) solid var(--_track-color);
    border-radius: 50%;
    border-block-start-color: var(--_color);

    animation: spinner-rotate var(--_duration) linear infinite;
  }

  @keyframes spinner-rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .spinner {
      animation: none;
    }
  }
}
