@use '../../../config/tokens/variables' as t;

// @component spinner
// @element div

@layer components.tokens {
  .spinner {
    // @desc Overall size
    @include t.token(size, space-4, spinner);
    // @desc Border thickness
    @include t.token(border-width, border-width-md, spinner);
    // @desc Text color
    --_color: var(--ui-spinner-color, currentcolor); // token-lint-ignore
    // @desc Track text color
    --_track-color: var(--ui-spinner-track-color, transparent); // token-lint-ignore
    // @desc Animation duration
    --_duration: var(--ui-spinner-duration, #{t.$spinner-duration}); // token-lint-ignore
  }

  $size-tokens: (
    xs:  (size: space-2, border-width: border-width-sm),
    sm:  (size: space-3, border-width: border-width-md),
    md:  (size: space-4, border-width: border-width-md),
    lg:  (size: space-5, border-width: border-width-md),
    xl:  (size: space-6, border-width: border-width-lg),
  );
  @include t.validate-size-tokens($size-tokens);

  // @modifier size xs, sm, md, lg, xl
  @each $name, $tokens in $size-tokens {
    .spinner--#{$name} {
      @each $prop, $global in $tokens {
        // @desc Override
        @include t.token($prop, $global, spinner, #{$prop}-#{$name});
      }
    }
  }
}

@layer components.styles {
  .spinner {
    display: inline-block;
    flex-shrink: 0;

    box-sizing: border-box;
    block-size: var(--_size);
    inline-size: var(--_size);

    vertical-align: middle;

    border: var(--_border-width) solid var(--_track-color);
    border-radius: 50%;
    border-block-start-color: var(--_color);

    animation: spinner-rotate var(--_duration) linear infinite;
  }

  @keyframes spinner-rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .spinner {
      animation: none;
    }
  }
}
