@use '../../../config/tokens/variables' as t;
// @component form-helper
// @element div

// Form Helper - helper text for form fields
// Displays muted text below form controls

@layer components.tokens {
  .form-helper {
    // @desc Line height
    @include t.token(line-height, line-height-tight-sm, form-helper);
    // @desc Text color
    @include t.token(color, color-text-muted, form-helper);
    // @desc Overall size
    @include t.token(size, font-size-sm, form-helper);
    // @desc Gap between children
    --_gap: var(--ui-form-helper-gap, 0); // token-lint-ignore
  }
}

@layer components.styles {
  .form-helper {
    display: block;

    margin-block-start: var(--_gap);

    font-size: var(--_size);
    line-height: var(--_line-height);
    color: var(--_color);
  }
}
