@use '../../config/tokens/variables' as t;

// @component container
// @element div

@layer primitives {
  .container {
    @include t.token(unit, unit);
    @include t.token(space-4, space-4);
    max-inline-size: var(--ui-container-width, calc(var(--_unit) * 120));
    padding-inline: var(--_space-4);
  }

  // @modifier boolean center
  .container--center {
    margin-inline: auto;
  }

  // Size modifiers
  // @modifier size
  .container--sm { --ui-container-width: calc(var(--_unit) * 80); }
  .container--md { --ui-container-width: calc(var(--_unit) * 100); }
  .container--lg { --ui-container-width: calc(var(--_unit) * 120); }
  .container--xl { --ui-container-width: calc(var(--_unit) * 160); }
  .container--full { max-inline-size: none; }
}
