@use '../../00-config/tokens/variables' as t;

// Spinner component - loading indicator
// Pure CSS animation, sizes align to grid

@layer components.tokens {
  .spinner {
    --_size: var(--ui-spinner-size, calc(#{t.$unit} * 3));
    --_border-width: var(--ui-spinner-border-width, var(--ui-border-width-md, #{t.$border-width-md}));
    --_color: var(--ui-spinner-color, currentcolor);
    --_track-color: var(--ui-spinner-track-color, transparent);
    --_duration: var(--ui-spinner-duration, 750ms);
  }

  .spinner--xs {
    --_size: var(--ui-spinner-size-xs, calc(#{t.$unit} * 2));
    --_border-width: var(--ui-spinner-border-width-xs, var(--ui-border-width-sm, #{t.$border-width-sm}));
  }

  .spinner--sm {
    --_size: var(--ui-spinner-size-sm, calc(#{t.$unit} * 2.5));
  }

  .spinner--lg {
    --_size: var(--ui-spinner-size-lg, calc(#{t.$unit} * 4));
  }

  .spinner--xl {
    --_size: var(--ui-spinner-size-xl, calc(#{t.$unit} * 5));
    --_border-width: var(--ui-spinner-border-width-xl, calc(#{t.$unit} * 0.375));
  }
}

@layer components.styles {
  .spinner {
    display: inline-block;
    flex-shrink: 0;

    block-size: var(--_size);
    inline-size: var(--_size);

    vertical-align: middle;

    border: var(--_border-width) solid var(--_track-color);
    border-radius: 50%;
    border-block-start-color: var(--_color);

    animation: spinner-rotate var(--_duration) linear infinite;
  }

  @keyframes spinner-rotate {
    to {
      transform: rotate(360deg);
    }
  }
}
