@use '../../../config/tokens/variables' as t;

// @component label
// @element label

@layer components.tokens {
  .label {
    // @desc Font weight
    @include t.token(font-weight, font-weight-medium, label);
    // @desc Line height
    @include t.token(line-height, line-height-tight-sm, label);
    // @desc Disabled opacity
    @include t.token(disabled-opacity, opacity-disabled, label);
    // @desc Optional font weight
    @include t.token(optional-font-weight, font-weight-normal, label);
    // @desc Optional color
    @include t.token(optional-color, color-text-muted, label);
    // @desc Font size
    @include t.token(font-size, font-size-sm, label);
    // @desc Text color
    @include t.token(color, color-text, label);
    // @desc Required color
    @include t.token(required-color, color-danger, label);
  }

  // @modifier size
  .label--lg {
    // @desc Font size at large size
    @include t.token(font-size, font-size-md, label, font-size-lg);
  }
}

@layer components.styles {
  .label {
    display: inline-flex;
    align-items: baseline;
    gap: 0;

    font-size: var(--_font-size);
    font-weight: var(--_font-weight);
    line-height: var(--_line-height);
    color: var(--_color);

    cursor: pointer;

    &[aria-disabled='true'] {
      opacity: var(--_disabled-opacity);
      cursor: not-allowed;
    }
  }

  .label__required {
    color: var(--_required-color);
  }

  .label__optional {
    font-weight: var(--_optional-font-weight);
    color: var(--_optional-color);
  }
}
