:root {
  --unit: 8px; /* 8px */
  --ui-row: calc(var(--unit) * 2);

  --ui-row-1: var(--ui-row);
  --ui-row-2: calc(var(--ui-row) * 2);
  --ui-row-3: calc(var(--ui-row) * 3);
  --ui-row-4: calc(var(--ui-row) * 4);
  --ui-row-5: calc(var(--ui-row) * 5);
  --ui-row-6: calc(var(--ui-row) * 6);
}
