@use '../../../config/tokens/variables' as t;
// @component kbd
// @element kbd

@layer components.tokens {
  .kbd {
    // @desc Border width
    @include t.token(border-width, border-width-sm, kbd);
    // @desc Shadow offset
    @include t.token(shadow-offset, space-quarter, kbd);
    // @desc Font size
    @include t.token(font-size, font-size-sm, kbd);
    // @desc Font family
    @include t.token(font-family, font-mono, kbd);
    // @desc Horizontal padding
    @include t.token(padding-x, space-0, kbd);
    // @desc Vertical padding
    @include t.token(padding-y, space-0, kbd);
    // @desc Background color
    @include t.token(bg, color-bg-subtle, kbd);
    // @desc Border color
    @include t.token(border-color, color-border, kbd);
    // @desc Corner radius
    @include t.token(radius, radius-sm, kbd);
    // @desc Text color
    @include t.token(color, color-text, kbd);
  }
}

@layer components.styles {
  .kbd {
    display: inline-flex;
    align-items: center;

    padding: var(--_padding-y) var(--_padding-x);

    font-family: var(--_font-family);
    font-size: var(--_font-size);
    line-height: 1;
    color: var(--_color);

    background: var(--_bg);
    border: var(--_border-width) solid var(--_border-color);
    border-radius: var(--_radius);
    box-shadow: 0 var(--_shadow-offset) 0 var(--_border-color);
  }
}
