@forward './badge/index';
@forward './button/index';
@forward './card/index';
@forward './code/index';
@forward './icon/index';
@forward './input/index';
@forward './table/index';
@forward './tabs/index';
