/* Self-hosted Noto Sans fonts */
/* Download WOFF2 files from: https://fonts.google.com/noto/specimen/Noto+Sans */

/* Noto Sans - Regular (400) */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans - Medium (500) */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans - Bold (700) */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans Mono - Regular (400) */
@font-face {
  font-family: "Noto Sans Mono";
  src: url("../fonts/NotoSansMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans Mono - Medium (500) */
@font-face {
  font-family: "Noto Sans Mono";
  src: url("../fonts/NotoSansMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
