@use '../../00-config/tokens/variables' as t;

// @component checkbox
// @element input

@layer components.tokens {
  .checkbox {
    --_size: var(--ui-checkbox-size, calc(#{t.$unit} * 2));
    --_radius: var(--ui-checkbox-radius, var(--ui-radius-sm, #{t.$radius-sm}));
    --_bg: var(--ui-checkbox-bg, var(--ui-color-bg, #{t.$color-bg}));
    --_bg-checked: var(--ui-checkbox-bg-checked, var(--ui-color-primary, #{t.$color-primary}));
    --_border-color: var(--ui-checkbox-border-color, var(--ui-color-border-strong, #{t.$color-border-strong}));
    --_border-color-focus: var(--ui-checkbox-border-color-focus, var(--ui-color-primary, #{t.$color-primary}));
    --_check-color: var(--ui-checkbox-check-color, var(--ui-color-text-inverse, #{t.$color-text-inverse}));
  }

  // @modifier size
  .checkbox--lg {
    --_size: var(--ui-checkbox-size-lg, calc(#{t.$unit} * 3));
  }

  // @modifier boolean error
  .checkbox--error {
    --_border-color: var(--ui-checkbox-error-border, var(--ui-color-danger, #{t.$color-danger}));
    --_border-color-focus: var(--ui-checkbox-error-border, var(--ui-color-danger, #{t.$color-danger}));
  }
}

@layer components.styles {
  .checkbox {

    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    block-size: var(--_size);
    inline-size: var(--_size);
    margin: 0;

    vertical-align: middle;

    background: var(--_bg);
    border: var(--ui-border-width-sm, #{t.$border-width-sm}) solid var(--_border-color);
    border-radius: var(--_radius);
    cursor: pointer;
    // Reset native checkbox
    appearance: none;

    transition:
      background-color var(--ui-duration-fast, 150ms) var(--ui-ease-default, ease),
      border-color var(--ui-duration-fast, 150ms) var(--ui-ease-default, ease),
      box-shadow var(--ui-duration-fast, 150ms) var(--ui-ease-default, ease);

    &::before {
      content: '';

      block-size: 65%;
      inline-size: 65%;

      background-color: var(--_check-color);
      opacity: 0;
      // Checkmark via clip-path
      clip-path: polygon(20% 55%, 40% 75%, 80% 25%, 85% 30%, 40% 85%, 15% 60%);

      transition: opacity var(--ui-duration-fast, 150ms) var(--ui-ease-default, ease);
    }

    &:hover:not(:disabled) {
      border-color: var(--_border-color-focus);
    }

    &:focus-visible {
      border-color: var(--_border-color-focus);
      outline: none;
      box-shadow: 0 0 0 var(--ui-border-width-md, #{t.$border-width-md}) var(--ui-color-focus, #{t.$color-focus});
    }

    &:checked {
      background: var(--_bg-checked);
      border-color: var(--_bg-checked);

      &::before {
        opacity: 1;
      }
    }

    &:indeterminate {
      background: var(--_bg-checked);
      border-color: var(--_bg-checked);

      &::before {
        opacity: 1;
        // Horizontal line for indeterminate
        clip-path: polygon(15% 45%, 85% 45%, 85% 55%, 15% 55%);
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
