:root {
  --ui-color-text: var(--ui-color-neutral-900);
  --ui-color-text-muted: var(--ui-color-neutral-500);
  --ui-color-text-inverse: var(--ui-color-neutral-50);

  --ui-color-bg: var(--ui-color-neutral-50);
  --ui-color-bg-subtle: var(--ui-color-neutral-100);
  --ui-color-bg-muted: var(--ui-color-neutral-200);

  --ui-color-border: var(--ui-color-neutral-200);
  --ui-color-border-strong: var(--ui-color-neutral-300);

  --ui-color-interactive: var(--ui-color-primary);
  --ui-color-interactive-hover: var(--ui-color-primary-dark);

  --ui-color-focus: var(--ui-color-primary-light);
}

[data-theme="dark"] {
  --ui-color-text: var(--ui-color-neutral-100);
  --ui-color-text-muted: var(--ui-color-neutral-400);
  --ui-color-text-inverse: var(--ui-color-neutral-900);

  --ui-color-bg: var(--ui-color-neutral-900);
  --ui-color-bg-subtle: var(--ui-color-neutral-800);
  --ui-color-bg-muted: var(--ui-color-neutral-700);

  --ui-color-border: var(--ui-color-neutral-700);
  --ui-color-border-strong: var(--ui-color-neutral-600);
}
