:root {
  --shadow-sm: 0 1px 2px hsl(var(--hue-primary) 10% 20% / 0.05);
  --shadow-md: 0 4px 6px hsl(var(--hue-primary) 10% 20% / 0.1);
  --shadow-lg: 0 10px 15px hsl(var(--hue-primary) 10% 20% / 0.15);
}
