@use '../../00-config/tokens/variables' as t;

// Heading component - semantic headings with visual size control
// Sizes align to typography scale

@layer components.tokens {
  .heading {
    --_font-size: var(--ui-heading-font-size, var(--ui-size-xl, #{t.$size-xl}));
    --_line-height: var(--ui-heading-line-height, var(--ui-leading-xl, calc(#{t.$unit} * 4)));
    --_weight: var(--ui-heading-weight, var(--ui-weight-bold, #{t.$weight-bold}));
    --_color: var(--ui-heading-color, var(--ui-color-text, #{t.$color-text}));
  }

  // Visual size modifiers (decouple from semantic level)
  .heading--3xl {
    --_font-size: var(--ui-heading-font-size-3xl, var(--ui-size-3xl, #{t.$size-3xl}));
    --_line-height: var(--ui-heading-line-height-3xl, var(--ui-leading-3xl, calc(#{t.$unit} * 5)));
  }

  .heading--2xl {
    --_font-size: var(--ui-heading-font-size-2xl, var(--ui-size-2xl, #{t.$size-2xl}));
    --_line-height: var(--ui-heading-line-height-2xl, var(--ui-leading-2xl, calc(#{t.$unit} * 4)));
  }

  .heading--xl {
    --_font-size: var(--ui-heading-font-size-xl, var(--ui-size-xl, #{t.$size-xl}));
    --_line-height: var(--ui-heading-line-height-xl, var(--ui-leading-xl, calc(#{t.$unit} * 4)));
  }

  .heading--lg {
    --_font-size: var(--ui-heading-font-size-lg, var(--ui-size-lg, #{t.$size-lg}));
    --_line-height: var(--ui-heading-line-height-lg, var(--ui-leading-lg, calc(#{t.$unit} * 3)));
  }

  .heading--md {
    --_font-size: var(--ui-heading-font-size-md, var(--ui-size-md, #{t.$size-md}));
    --_line-height: var(--ui-heading-line-height-md, var(--ui-leading-md, calc(#{t.$unit} * 3)));
  }

  .heading--sm {
    --_font-size: var(--ui-heading-font-size-sm, var(--ui-size-sm, #{t.$size-sm}));
    --_line-height: var(--ui-heading-line-height-sm, var(--ui-leading-sm, calc(#{t.$unit} * 2)));
  }

  .heading--muted {
    --_color: var(--ui-heading-color-muted, var(--ui-color-text-muted, #{t.$color-text-muted}));
  }
}

@layer components.styles {
  .heading {
    margin: 0;

    font-size: var(--_font-size);
    font-weight: var(--_weight);
    line-height: var(--_line-height);
    color: var(--_color);
  }
}
