@layer primitives {
  .main {
    margin-inline-start: var(--sidebar-width, calc(var(--unit) * 30));
  }

  /* When sidebar is on the end */
  .main--sidebar-end {
    margin-inline-start: 0;
    margin-inline-end: var(--sidebar-width, calc(var(--unit) * 30));
  }

  /* No sidebar */
  .main--full {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
