@layer base {
  h1 {
    margin-block-end: var(--ui-space-4);

    font-size: var(--ui-size-3xl);
    font-weight: var(--ui-weight-bold);
    line-height: var(--ui-leading-3xl);
  }

  h2 {
    margin-block-end: var(--ui-space-3);

    font-size: var(--ui-size-2xl);
    font-weight: var(--ui-weight-bold);
    line-height: var(--ui-leading-2xl);
  }

  h3 {
    margin-block-end: var(--ui-space-2);

    font-size: var(--ui-size-xl);
    font-weight: var(--ui-weight-medium);
    line-height: var(--ui-leading-xl);
  }

  h4 {
    margin-block-end: var(--ui-space-2);

    font-size: var(--ui-size-lg);
    font-weight: var(--ui-weight-medium);
    line-height: var(--ui-leading-lg);
  }

  h5,
  h6 {
    margin-block-end: var(--ui-space-1);

    font-size: var(--ui-size-md);
    font-weight: var(--ui-weight-medium);
    line-height: var(--ui-leading-md);
  }

  p {
    margin-block-end: var(--ui-space-2);

    font-size: var(--ui-size-md);
    line-height: var(--ui-leading-md);
  }

  p:last-child {
    margin-block-end: 0;
  }

  strong,
  b {
    font-weight: var(--ui-weight-bold);
    line-height: 0;
  }

  small {
    font-size: var(--ui-size-sm);
    line-height: 0;
  }

  code {
    padding: 0 var(--ui-space-1);

    font-family: var(--ui-font-mono);
    font-size: var(--ui-size-sm);
    line-height: 0;
    vertical-align: baseline;

    background: var(--ui-color-bg-muted);
    border-radius: var(--ui-radius-sm);
  }

  pre {
    padding: var(--ui-space-2);
    margin-block-end: var(--ui-space-2);
    overflow-x: auto;

    font-family: var(--ui-font-mono);
    font-size: var(--ui-size-sm);
    line-height: var(--ui-leading-sm);

    background: var(--ui-color-bg-muted);
    border-radius: var(--ui-radius-md);
  }

  pre code {
    padding: 0;

    background: none;
  }
}
