@layer components.tokens {
  .t-stack {
    --_gap: var(--t-stack-gap, var(--t-space-3));
    --_align: var(--t-stack-align, stretch);
    --_gap-0: var(--t-space-0);
    --_gap-1: var(--t-space-1);
    --_gap-2: var(--t-space-2);
    --_gap-3: var(--t-space-3);
    --_gap-4: var(--t-space-4);
    --_gap-5: var(--t-space-5);
    --_gap-6: var(--t-space-6);
    --_gap-7: var(--t-space-7);
    --_gap-8: var(--t-space-8);
  }
}

@layer components.styles {
  .t-stack {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--_gap);
    align-items: var(--_align);

    @each $i in 0, 1, 2, 3, 4, 5, 6, 7, 8 {
      &:where([data-gap="$(i)"]) {
        --_gap: var(--_gap-$(i));
      }
    }

    &:where([data-align="start"]) {
      --_align: flex-start;
    }

    &:where([data-align="center"]) {
      --_align: center;
    }

    &:where([data-align="end"]) {
      --_align: flex-end;
    }

    &:where([data-align="stretch"]) {
      --_align: stretch;
    }

    @each $bp in md, lg, xl, 2xl {
      /* stylelint-disable-next-line media-query-no-invalid */
      @media (--$(bp)) {
        @each $i in 0, 1, 2, 3, 4, 5, 6, 7, 8 {
          &:where([data-gap-$(bp)="$(i)"]) {
            --_gap: var(--_gap-$(i));
          }
        }

        &:where([data-align-$(bp)="start"]) {
          --_align: flex-start;
        }

        &:where([data-align-$(bp)="center"]) {
          --_align: center;
        }

        &:where([data-align-$(bp)="end"]) {
          --_align: flex-end;
        }

        &:where([data-align-$(bp)="stretch"]) {
          --_align: stretch;
        }
      }
    }
  }
}
