{#
  Renders an example with Preview/CSS/Customization tabs
  Parameters:
    - example: { previewHtml, codeHtml }
    - cssPropsHtml: HTML for CSS props tab (optional)
    - customizationHtml: HTML for customization tab (optional)
#}

{# Determine tab labels #}
{% set cssTabLabel = 'CSS' if cssPropsHtml else 'HTML' %}
{% set cssTabContent = cssPropsHtml if cssPropsHtml else '<pre class="ui-code-block"><code>' + (example.codeHtml | escape) + '</code></pre>' %}

<div class="ui-tabs ui-mb-2">
  <div class="ui-tabs__list">
    <button class="ui-tabs__tab ui-tabs__tab--active">Preview</button>
    <button class="ui-tabs__tab">{{ cssTabLabel }}</button>
    {% if customizationHtml %}
    <button class="ui-tabs__tab">Customization</button>
    {% endif %}
  </div>
  <div class="ui-tabs__panel ui-tabs__panel--active">
    {{ example.previewHtml | safe }}
  </div>
  <div class="ui-tabs__panel">
    {{ cssTabContent | safe }}
  </div>
  {% if customizationHtml %}
  <div class="ui-tabs__panel">
    {{ customizationHtml | safe }}
  </div>
  {% endif %}
</div>
