@use '../../../config/tokens/variables' as t;

// @component heading
// @element h2

@layer components.tokens {
  .heading {
    // @desc Font size
    --_font-size: var(--ui-heading-font-size, var(--ui-font-size-xl, #{t.$font-size-xl}));
    // @desc Line height
    --_line-height: var(--ui-heading-line-height, var(--ui-leading-xl, #{t.$leading-xl}));
    // @desc Weight
    --_weight: var(--ui-heading-weight, var(--ui-weight-bold, #{t.$weight-bold}));
    // @desc Text color
    --_color: var(--ui-heading-color, var(--ui-color-text, #{t.$color-text}));
  }

  // @modifier size
  .heading--4xl {
    // @desc Font size 4xl
    --_font-size: var(--ui-heading-font-size-4xl, var(--ui-font-size-4xl, #{t.$font-size-4xl}));
    // @desc Line height 4xl
    --_line-height: var(--ui-heading-line-height-4xl, var(--ui-leading-4xl, #{t.$leading-4xl}));
  }

  .heading--3xl {
    // @desc Font size 3xl
    --_font-size: var(--ui-heading-font-size-3xl, var(--ui-font-size-3xl, #{t.$font-size-3xl}));
    // @desc Line height 3xl
    --_line-height: var(--ui-heading-line-height-3xl, var(--ui-leading-3xl, #{t.$leading-3xl}));
  }

  .heading--2xl {
    // @desc Font size 2xl
    --_font-size: var(--ui-heading-font-size-2xl, var(--ui-font-size-2xl, #{t.$font-size-2xl}));
    // @desc Line height 2xl
    --_line-height: var(--ui-heading-line-height-2xl, var(--ui-leading-2xl, #{t.$leading-2xl}));
  }

  .heading--xl {
    // @desc Font size at extra-large size
    --_font-size: var(--ui-heading-font-size-xl, var(--ui-font-size-xl, #{t.$font-size-xl}));
    // @desc Line height at extra-large size
    --_line-height: var(--ui-heading-line-height-xl, var(--ui-leading-xl, #{t.$leading-xl}));
  }

  .heading--lg {
    // @desc Font size at large size
    --_font-size: var(--ui-heading-font-size-lg, var(--ui-font-size-lg, #{t.$font-size-lg}));
    // @desc Line height at large size
    --_line-height: var(--ui-heading-line-height-lg, var(--ui-leading-lg, #{t.$leading-lg}));
  }

  .heading--md {
    // @desc Font size at medium size
    --_font-size: var(--ui-heading-font-size-md, var(--ui-font-size-md, #{t.$font-size-md}));
    // @desc Line height at medium size
    --_line-height: var(--ui-heading-line-height-md, var(--ui-leading-tight-md, #{t.$leading-tight-md}));
  }

  .heading--sm {
    // @desc Font size at small size
    --_font-size: var(--ui-heading-font-size-sm, var(--ui-font-size-sm, #{t.$font-size-sm}));
    // @desc Line height at small size
    --_line-height: var(--ui-heading-line-height-sm, var(--ui-leading-tight-sm, #{t.$leading-tight-sm}));
  }

}

@layer components.styles {
  .heading {
    margin: 0;

    font-size: var(--_font-size);
    font-weight: var(--_weight);
    line-height: var(--_line-height);
    color: var(--_color);
  }
}
