/* Display and visibility utilities */

/* Uses logical properties for international/RTL support */
@layer utilities {
  /* Display */
  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  .inline {
    display: inline;
  }

  .flex {
    display: flex;
  }

  .inline-flex {
    display: inline-flex;
  }

  .grid {
    display: grid;
  }

  .inline-grid {
    display: inline-grid;
  }

  .hidden {
    display: none;
  }

  /* Flexbox direction */
  .flex-row {
    flex-direction: row;
  }

  .flex-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-col-reverse {
    flex-direction: column-reverse;
  }

  /* Flexbox wrap */
  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-nowrap {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  /* Flexbox grow/shrink */
  .flex-1 {
    flex: 1 1 0%;
  }

  .flex-auto {
    flex: 1 1 auto;
  }

  .flex-initial {
    flex: 0 1 auto;
  }

  .flex-none {
    flex: none;
  }

  .grow {
    flex-grow: 1;
  }

  .grow-0 {
    flex-grow: 0;
  }

  .shrink {
    flex-shrink: 1;
  }

  .shrink-0 {
    flex-shrink: 0;
  }

  /* Justify content */
  .justify-start {
    justify-content: flex-start;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-around {
    justify-content: space-around;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }

  /* Align items */
  .items-start {
    align-items: flex-start;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-center {
    align-items: center;
  }

  .items-baseline {
    align-items: baseline;
  }

  .items-stretch {
    align-items: stretch;
  }

  /* Align self */
  .self-auto {
    align-self: auto;
  }

  .self-start {
    align-self: flex-start;
  }

  .self-end {
    align-self: flex-end;
  }

  .self-center {
    align-self: center;
  }

  .self-stretch {
    align-self: stretch;
  }

  /* Visibility */
  .visible {
    visibility: visible;
  }

  .invisible {
    visibility: hidden;
  }

  /* Screen reader only - visually hidden but accessible */
  .sr-only {
    position: absolute;

    /* stylelint-disable-next-line unit-disallowed-list -- intentional 1px for a11y */
    block-size: 1px;
    /* stylelint-disable-next-line unit-disallowed-list -- intentional 1px for a11y */
    inline-size: 1px;
    padding: 0;
    /* stylelint-disable-next-line unit-disallowed-list -- intentional -1px for a11y */
    margin: -1px;
    overflow: hidden;

    white-space: nowrap;

    border-width: 0;
    clip-path: inset(50%);
  }
}
