@use '../../../config/tokens/variables' as t;

// @component avatar
// @element div
// @related avatar-group

@layer components.tokens {
  .avatar {
    // @desc Font weight
    @include t.token(font-weight, font-weight-medium, avatar);
    // @desc Group ring width
    @include t.token(ring-width, border-width-sm, avatar);
    // @desc Group ring color
    @include t.token(ring-color, color-bg, avatar);
    // @desc Overall size
    @include t.token(size, space-5, avatar);
    // @desc Background color
    @include t.token(bg, color-bg-subtle, avatar);
    // @desc Text color
    @include t.token(color, color-text-muted, avatar);
    // @desc Font size
    @include t.token(font-size, font-size-sm, avatar);
    // @desc Corner radius
    --_radius: var(--ui-avatar-radius, 50%); // token-lint-ignore
  }

  $size-tokens: (
    xs:  (size: space-3, font-size: font-size-xs),
    sm:  (size: space-4, font-size: font-size-xs),
    md:  (size: space-5, font-size: font-size-sm),
    lg:  (size: space-6, font-size: font-size-md),
    xl:  (size: space-8, font-size: font-size-lg),
  );
  @include t.validate-size-tokens($size-tokens);

  // @modifier size xs, sm, md, lg, xl
  @each $name, $tokens in $size-tokens {
    .avatar--#{$name} {
      @each $prop, $global in $tokens {
        // @desc Override
        @include t.token($prop, $global, avatar, #{$prop}-#{$name});
      }
    }
  }

  // @modifier boolean square
  .avatar--square {
    // @desc Radius square
    @include t.token(radius, radius-md, avatar, radius-square);
  }
}

@layer components.styles {
  .avatar {

    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;

    block-size: var(--_size);
    inline-size: var(--_size);
    overflow: hidden;

    font-size: var(--_font-size);
    font-weight: var(--_font-weight);
    line-height: 1;
    text-transform: uppercase;
    color: var(--_color);

    background: var(--_bg);
    border-radius: var(--_radius);
  }

  .avatar__image {
    position: absolute;
    inset: 0;

    block-size: 100%;
    inline-size: 100%;

    object-fit: cover;

    border-radius: inherit;
  }

  .avatar__fallback {
    display: flex;
    align-items: center;
    justify-content: center;

    block-size: 100%;
    inline-size: 100%;

    user-select: none;
  }

  // Group avatars with overlap
  .avatar-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    > .avatar {
      margin-inline-start: calc(var(--_size) * -0.25);

      border: var(--_ring-width) solid var(--_ring-color);

      &:last-child {
        margin-inline-start: 0;
      }
    }
  }
}
