:root {
  --space-1: var(--unit);
  --space-2: calc(var(--unit) * 2);
  --space-3: calc(var(--unit) * 3);
  --space-4: calc(var(--unit) * 4);
  --space-6: calc(var(--unit) * 6);
  --space-8: calc(var(--unit) * 8);
}
