:root {
  --ui-space-1: var(--unit);
  --ui-space-2: calc(var(--unit) * 2);
  --ui-space-3: calc(var(--unit) * 3);
  --ui-space-4: calc(var(--unit) * 4);
  --ui-space-6: calc(var(--unit) * 6);
  --ui-space-8: calc(var(--unit) * 8);
}
